 *{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.landingimg{
    /* filter: grayscale(80%); */
    height: 1.4cm;
    background-size: cover ;
}

#landing{
    /* height: 100cm; */
    background-color: black;
    height: 20.9cm;
}

#landing ul{
    list-style: none;
    display: flex;
    font-size: 26px;
    margin-left: 27em;
    font-family: 'Arial Bold', sans-serif , 'Monofonto';
    position: fixed;
    margin-top: -3em;
}

#landing li{
    padding-left: 20px;
    padding-right: 20px;
    /* border-radius: 1cm; */
    
    /* background-color: whitesmoke; */

}

.landing{
  margin-top: -10em;
}


#landing a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
#landing navbar ul{
  text-align: right;
}
#landing navbar ul li a:hover{
    border-radius: 1cm;
    color: rgb(255, 106, 0);
    transition: 0.3s;
    /* border-radius: 1cm;
    color: rgb(55, 51, 51);
    transition: 0.5s; */
}  

.logo{
    margin-left: 2em;
}

.eventlogo{
    margin-top: -0.5em;
    margin-left: 12em;
}


/* 
.registerButton button{
    background-color: rgb(255, 106, 0);
    height: 1.5cm;
    width: 3.5cm;
    border-style: none;
    border-radius: 1cm;
    color: white;
    font-size: large;
    font-weight: bolder;
    font-family: 'Arial Bold', sans-serif , 'Monofonto';
}

.registerButton button a{
    text-decoration: none;
    color: white; 
} */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #050801;
    font-family: 'Raleway', sans-serif;
} */

/* .registerButton{
  margin-left: 52em;
  margin-top: 0em;
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: 100vh;
  background: #050801;
  font-family: 'Raleway', sans-serif;
} */

#registerbtn{
  margin-top: -10.7em;
}


#registerbtn button{
  padding: 25px 30px;
  background-color: wheat;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  margin-left: 32.5em;
  /* font-weight: bolder; */
  font-size: larger;
  border-radius: 1cm;
}

#registerbtn button:hover{
    background: rgb(255, 106, 0);
    color: #050801;
    box-shadow: 0 0 5px rgb(255, 106, 0),
                0 0 25px rgb(255, 106, 0),
                0 0 50px rgb(255, 106, 0),
                0 0 200px rgb(255, 106, 0);
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}


#about{
  margin-top: 21em;
  background-color: black;
  height: 72cm;
  /* background-image: url(img3.jpg); */
  background-size: cover;
  /* background-repeat: no-repeat; */
}


  @font-face {
    font-family: MyFont;
    src: url("lemon.otf");
  }

#about h1{
  text-align: center;
    font-size: 3em;
    background: linear-gradient(45deg, #eeeeee, #cc8a8a);
    font-weight: bolder;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(247, 93, 22);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(0, 0, 0, 0.9);
    font-family: MyFont;
    /* margin-bottom: 30px; */
    padding-top: 0.5em;
    margin-top: 0em;
}

/* #aboutsection{
  padding-top: 7em;
  border-style: solid;
  background-color: wheat;
  border-radius: 2cm;
} */


  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,600;1,800&display=swap');

#about .aboutsection p{
  color: rgb(201, 97, 0);
  font-size: xx-large;
  padding-left: 3em;
  padding-right: 3em;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(0, 0, 0, 0.9);
  text-align: justify;
  padding-bottom: 1.5em;
  font-family: 'Open Sans', sans-serif;
  text-align: center; 
}

/* #about .aboutsection span{
  text-align: center;
  font-size: 1.5em;
  background: linear-gradient(45deg, #eeeeee, #cc8a8a);
  font-weight: bolder;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(186, 81, 0);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(0, 0, 0, 0.9);
  font-family: MyFont;
  margin-bottom: 30px; */
  /* padding-top: 2em; */
  /* margin-top: 0em;
} */

#about .rulling p{
  color:wheat;
  font-size: xx-large;
  padding-left: 3em;
  padding-right: 3em;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(0, 0, 0, 0.9);
  text-align: justify;
  padding-bottom: 1.5em;
  font-family: 'Open Sans', sans-serif;
  text-align: center; 
}

.bjp{
  border: 1px solid orange;
  padding: 10px;
}

/* .rulebook{
  background-image: url('img3.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; 
      text-align: center;
      font-size: 23px;
      color: #ffffff ;
      margin: 0; 
      padding: 20px;
      border-radius: 2cm;
}
/* Optional: Reset default body margin */
/* .rulebook h1{
    text-align: center;
    font-size: 2em;
    background: linear-gradient(45deg, #cf9894, #00ffdd);
    font-weight: bolder;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(0, 0, 0, 0.9);
    font-family: "Arial", sans-serif;
    margin-bottom: 50px;
    padding-top: 2em;
    margin-top: 0em;
   }  */
  

   #team{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 50vh;
    background: #000;
  }
.octeam{
  background-color: #000;
}
  .octeam h1{
    text-align: center;
    font-size: 4em;
    background: linear-gradient(45deg, #ef1404, #ff8c00);
    font-weight: bolder;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(0, 0, 0, 0.9);
    font-family: MyFont;
    /* margin-bottom: 50px; */
    padding-top: 2em;
    margin-top: 0em;
    /* background-color:black */

  } 

  swiper-container {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 450px;
    background:black;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, transparent,#000600) ; */
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 80%;
  }

  .details{
    box-sizing: border-box ;
    padding: 20px;
    text-align: center;
  }

 .details h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    color: #eee;
  }

 .details h3 span{
    font-size: 16px;
    color: #f4436f;
  } 

  @font-face {
    font-family: "Roboto";
    src: url("//db.onlinewebfonts.com/t/a638be55afb1ed29ceb7ea7e288c2139.eot");
    src: url("//db.onlinewebfonts.com/t/a638be55afb1ed29ceb7ea7e288c2139.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/a638be55afb1ed29ceb7ea7e288c2139.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/a638be55afb1ed29ceb7ea7e288c2139.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/a638be55afb1ed29ceb7ea7e288c2139.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/a638be55afb1ed29ceb7ea7e288c2139.svg#GT Flexa")
        format("svg");
  }
  
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .sponsors-flex {
    display: flex;
    flex-direction: column;
  }
  
  .sponsors-head .platinum-sponsors{
    font-family: MyFont;
  }

  .sponsor-title {
    font-size: 4rem;
    background-color: #000;
    /* letter-spacing: 7px; */
    color:bisque;
    padding-top: 70px;
    font-family: MyFont;
    /* padding-top: 10px; */
  }
  
  @media screen and (max-width: 450px) {
    .sponsor-title {
      font-size: 7rem;
    }
  }
  
  /* Platinum-Sponsors */
  
  .platinum-sponsors-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .platinum-sponsors-grid > div {
    /* background-color: hotpink; */
    display: flex;
  }
  
  .p-sponsor img {
    width: 60vh;
    margin: auto;
  }
  
  @media screen and (max-width: 450px) {
    .p-sponsor img {
      width: 40vh;
    }
  }
  @media screen and (max-width: 425px) {
    .p-sponsor img {
      width: 35vh;
    }
  }
  /* End */
  
  /* Title Sponsors */
  
  .title-sponsors-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  @media screen and (max-width: 450px) {
    .title-sponsors-grid {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  
  .title-sponsors-grid > div {
    /* background-color: blueviolet; */
    display: flex;
  }
  
  .t-sponsor img {
    width: 40vh;
    margin: auto;
  }
  
  @media screen and (max-width: 450px) {
    .t-sponsor img {
      width: 30vh;
    }
  }
  /* End */
  
  /* Associate Sponsors */
  
  .associate-sponsors-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
  @media screen and (max-width: 450px) {
    .associate-sponsors-grid {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  
  .associate-sponsors img {
    width: 25vh;
    margin: auto;
  }
  
  .associate-sponsors-grid > div {
    /* background-color: aqua; */
    display: flex;
  }
  
  /* End */
  
  /* M&O Sponsors */
  
  .mno-sponsors-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  
  @media screen and (max-width: 450px) {
    .mno-sponsors-grid {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  
  .mno-sponsor img {
    width: 20vh;
    margin: auto;
  }
  
  .mno-sponsors-grid > div {
    /* background-color: beige; */
    display: flex;
  }
  /* End */
  
  @media (max-width: 2000px) {
    .container {
      max-width: 99999px;
    }
  }
  
  .card-section {
    align-items: flex-start;
    /* background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%); */
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
    padding-bottom: 10rem;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-cont);
    width: 100%;
  }
  
  /* @media (min-width: 540px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 960px) {
    .card-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  } */
  
  .sponsor-card {
    list-style: none;
    position: relative;
    margin: auto;
    height: 25rem;
    width: 60rem;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    transform: rotate(90deg);
    padding-bottom: 2rem;
  }
  
  @media screen and (max-width: 450px) {
    .sponsor-card {
      height: 18rem;
      width: 18rem;
    }
  }
  
  .sponsor-card:before {
    content: "";
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background {
    background-size: cover;
    background-position: center;
    /* border-radius: var(--spacing-l); */
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    /* transform: scale(1) translateZ(0); */
    transition: filter 200ms linear, transform 200ms linear;
  }
  
  .sponsor-card:hover .card__background {
    transform: scale(1.05) translateZ(0);
  }
  
  .sponsor-card:hover .icons {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(61, 61, 60, 0.4) 73%,
      rgba(125, 124, 123, 0.4) 100%
    );
    opacity: 1;
  }
  
  /* .card:hover .icons .fa {
      opacity: 1;
    }
    .card:hover .icons .a {
      opacity: 0;
    } */
  
  /* .card-grid:hover > .card:not(:hover) .card__background {
      filter: brightness(1) saturate(0) contrast(1.2) blur(0px);
    } */
  
  .card__content {
    left: 0;
    padding: var(--spacing-l);
    padding-left: 10px;
    position: absolute;
    top: 72%;
  }
  
  .card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading {
    color: var(--text-lighter);
    font-size: 0.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    letter-spacing: 3px;
    font-weight: bold;
    /* word-spacing: 100vw; */
  }
  
  /* ICON STYLES */
  .icons .fa {
    opacity: 0;
    transition: opacity 1s;
  }
  
  .icons .a {
    opacity: 0;
  }
  
  .icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 200px;
    top: -150px;
    right: -40px;
    width: 50px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }
  
  .icons .a {
    color: white;
  }
  
  @media screen and (max-width: 450px) {
    .icons {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(61, 61, 60, 0.4) 73%,
        rgba(125, 124, 123, 0.4) 100%
      );
      opacity: 1;
    }
    .icons .fa {
      opacity: 1;
    }
  }

  
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.sponsors-cards {
  display: grid;
  width: 100%;
  position: relative;
  margin: 0 auto;
  grid-template-rows: repeat(1fr auto);
  grid-template-columns: 1fr;
  row-gap: 2rem;
  justify-content: center;
  color: #eee;
  align-items: center;
  background-color: #000;
}

.sponsors-head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  padding: 4rem 0rem;
}

.sponsor-single {
  /* border-style: solid;
  border-radius: 10px; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sponsors-grid {
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.grid-platinum {
  grid-template-columns: 1fr;
}
.grid-title {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-associate {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-media {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-team {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.sponsor-image {
  transition: 0.5s;
}
.sponsor-image:hover {
  transform: scale(1.12);
}
@media screen and (max-width: 450px) {
  .sponsors-cards {
    width: 90%;
  }
  .sponsors-head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .grid-platinum {
    grid-template-columns: 1fr;
  }
  .grid-title {
    grid-template-columns: 1fr;
  }
  .grid-associate {
    grid-template-columns: 1fr;
  }
  .grid-media {
    grid-template-columns: 1fr;
  }
  .grid-team {
    grid-template-columns: 1fr;
  }
  .sponsor-single {
    display: flex;
  }
  .sponsor-image {
    width: 95%;
  }
}



footer {
  background-color: black;
  color: rgb(255, 106, 0);
  padding: 30px;
}

#container {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
}

.contact-us h2{
  font-size: 5em;
  margin-left: -10em;
  /* padding-top: 20em; */
}

.contact-us h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-us form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: -25em;
  margin-left: 50em;
}

.contact-us label {
  display: block;
  margin-bottom: 10px;
}

.contact-us input,
.contact-us textarea {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  border: none;
  border-radius: 5px;
}

#formbox{
  margin-top: 19em;
}


.contact-us button[type="submit"] {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-us button[type="submit"]:hover {
  background-color: #ddd;
}
.copy{
  margin-top: 70px;
  font-size: large;
}

#footerlogo{
  margin-left: -50em;
  margin-top: 6em;

}